{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
<!-- Button trigger modal -->

<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
        {% csrf_token %}
        {% bootstrap_form userForm  %}
        <br>
        {% bootstrap_form profileForm %}
        <div class="text-center">
          <button type="submit" class="btn btn-primary p-2">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<header>

	<div class="container">
		<div class="profile">
			<div class="profile-image text-center">
				<img src="{{ curruser.profile.propic.url }}" alt="" width="200" height="200">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{curruser}}</h1>
				<button class="btn profile-edit-btn" data-toggle="modal" data-target="#profile">Edit Profile</button>
				<button class="btn profile-settings-btn" aria-label="profile settings" data-toggle="modal" data-target="#profile"><i class="fas fa-cog" aria-hidden="true"></i></button>
			</div>

			<div class="profile-stats">
				<ul>
					<li><span class="profile-stat-count">{{curruser_photos.count}}</span> Posts</li>
					<li><span class="profile-stat-count">{{ user.follower.all.count }}</span> followers</li>
					<li><span class="profile-stat-count">{{ user.following.all.count }}</span> following</li>
				</ul>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name">{{curruser.profile.name}}</span> {{curruser.profile.userbio}}</p>
			</div>
		</div>
	</div>

</header>

<main>

	<div class="container">

		<div class="gallery row">
			{% for photo in curruser_photos %}

			<div class="gallery-item col-md-6" tabindex="0">
				<img src="{{ photo.picture.url}}" class="gallery-image" alt="">
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>
				</div>
			</div>

			{% endfor %}
		</div>
		{% if curruser_photos > 6 %}
		<div class="loader"></div>
		{% endif %}
	</div>
</main>
{% endblock %}