{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

<div class="row">
  <div class="col-md-8">

    <section class="main">
      <div class="wrapper">
        <div class="left-col">
          <div class="status-wrapper">
            {% for status in allusers %}
            <div class="status-card">
              <div class="profile-pic"><img src="{{ status.propic.url }}" alt=""></div>
              <p class="username">{{status.name}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>

    <section class="main postz">
      <div class="wrapper">
        <div class="left-col">
          {% for photo in allpictures %}
          <div class="post">
            <div class="info">
              <div class="user">
                <div class="profile-pic"><img src="{{ photo.uploadedBy.Profile.propic.url }}" alt=""></div>
                <p class="username">{{ photo.uploadedBy.profile }}</p>
              </div>
              <img src="{% static 'images/option.PNG'%}" class="options" alt="">
            </div>
            <img src="{{ photo.picture.url }}" class="post-image" alt="">
            <div class="post-content">
              <div class="reaction-wrapper">
                <img src="{% static 'images/like.PNG'%}" class="icon" alt="">
                <img src="{% static 'images/comment.PNG'%}" class="icon" alt="">
                <img src="{% static 'images/send.PNG'%}" class="icon" alt="">
                <img src="{% static 'images/save.PNG'%}" class="save icon" alt="">
              </div>
              <p class="likes">10 likes</p>
              {% if allcomments %}
                {% for comment in allcomments %}
                  {% if comment.pic.id == photo.id %}
                    <p class="description"><span>{{comment.user.username}} </span> {{comment.comment}}</p>
                    <p class="post-time"></p>
                  {% endif %}
                {% endfor %}
              {% else %}
              <p>Comments {{allcomments.count}}</p>
              {% endif %}
            </div>
            <div class="comment-wrapper">
              <img src="{% static 'images/smile.PNG' %}" class="icon" alt="" class="ms-1">
              <form action="{% url 'home' %}" method="post" style="width: 100%; margin-left: 7px;">
                {% csrf_token %}
                <input type="hidden" name="photoid" value='{{photo.id}}'>
                {{ commentform }}
                <button class="comment-btn" type='submit'>Post</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

  <div class="col-md-4">
    <section class="main">
      <div class="wrapper">
        <div class="right-col">
          <div class="profile-card">
            <div class="profile-pic">
              <img src="{% static 'images/cover 4.png'%}" alt="">
            </div>
            <div>
              <p class="username">{{request.user}}</p>
              <p class="sub-text">@{{ request.user }}</p>
            </div>
            <button class="action-btn">switch</button>
          </div>
          <p class="suggestion-text">Suggestions for you</p>
          {% for sugg in allusers %}
          <div class="profile-card">
            <div class="profile-pic">
              <img src="{{sugg.propic.url}}" alt="">
            </div>
            <div>
              <p class="username">{{sugg.name }}</p>
              <p class="sub-text"></p>
            </div>
            <button class="action-btn">follow</button>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}