{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <section class="main">
      <div class="wrapper">
        <div class="left-col">
          <div class="status-wrapper">
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_1</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_2</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_3</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_3</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_3</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_3</p>
            </div>
            <div class="status-card">
              <div class="profile-pic"><img src="{% static 'images/cover 4.png'%}" alt=""></div>
              <p class="username">user_name_3</p>
            </div>
          </div>
        </div>
    </section>
{% endblock %}