{% load static %}
<nav class="navbar">
  <div class="nav-wrapper">
    <img src="{% static 'images/logo.PNG'%}" class="brand-img" alt="">
    <input type="text" class="search-box" placeholder="search">
    <div class="nav-items">
      <img src="{% static 'images/home.PNG' %}" class="icon" alt="">
      <img src="{% static 'images/messenger.PNG' %}"  class="icon" alt="">
      <img src="{% static 'images/add.PNG' %}"  class="icon" alt="">
      <img src="{% static 'images/explore.PNG' %}"  class="icon" alt="">
      <img src="{% static 'images/like.PNG' %}"  class="icon" alt="">
      <div class="icon user-profile"></div>
    </div>
  </div>
</nav>